#images
assets/img/demopic/
*page_base_old.html
*page_base.html
_site/
.jekyll-cache/
vendor/
content/posts/base_02.html
content/proyects/base_proyect.html}
content/studies/base_02.html


# Documents and files

